<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <h1>
        <%= @user.name %>
      </h1>

      <!-- プロフィール -->
      <h2>
        <% if profile_exist?(@user) %>
          <%= @user.profile %>
        <% else %>

        <% end %>
      </h2>
      
      <!-- 地域 -->
      <p>
        <% if region_exist?(@user) %>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= @user.region %>
        <% else %>
          
        <% end %>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Micropost (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <!-- 
        render partial: 'microposts/micropost', collection: @microposts
        と同じ
          -->
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
